.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-div{
    display: flex;
    flex-direction: column;
}

.tw-followCard-span{
    opacity: .6;
}

.tw-followCard-img{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
    width: 150px;
}

.tw-followCard-button:hover{
    opacity: .8;
}

.tw-followCard-text{
    display: block;
}

.tw-followCard-button.is-following{
    border: 1px solid rgb(90, 88, 88);
    background: transparent;
    color: #fff;
    width: 150px;
}

.tw-followCard-button.is-following:hover{
    background-color: rgba(155, 1, 16, 0.155);
    color: red;
    border: solid red;
    transition: .3s ease all;
}

.tw-followCard-stopFollow{
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}

.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}